#head-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#head-banner img {
  object-fit: cover;
  filter: brightness(50%);
  height: 80vh;
  width: 100%;
}

.content {
  color: white;
  position: absolute;
  top: 50%;
  margin: 0 2.5em;
}

.content p {
  font-size: small;
}

.content .button {
  margin-bottom: 1em;
}

#who-are-we-section img {
  width: 100%;
  margin: 0.5em 0;
}

#testimonial {
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 10px;
  margin: 0.5em;
}

#work-item {
  margin: 0.5em 0;
}

#work-item img {
  margin-bottom: 0.5em;
}

#work-item p {
  margin: 0 !important;
}

#testimonial img {
  width: 30px;
  float: left;
  border-radius: 50%;
  margin-right: 1em;
}

#level-box {
  padding: 1em 1.5em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#level-box p {
  margin: 0;
  text-align: center;
}

#level-number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: whitesmoke;
  width: 2em;
  height: 2em;
  font-size: larger;
  margin-bottom: 1em;
}

#challenge-set-item {
  background-color: white;
  padding: 1em;
  margin: 0.5em 0;
  text-align: center;
  box-shadow: 0 0 5px 0 black;
}

@media (min-width: 475px) and (max-width: 575px) {
  #who-are-we-section img {
    width: 75%;
    margin: 0.5em 0;
  }
}
