.responsive-iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1024px;
    /* Maximum width of the video container */
    margin: 10px auto;
    /* Centering the container */
    border-radius: 8px;
    /* Optional: for rounded corners */
}

.responsive-iframe-container::after {
    content: "";
    display: block;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
}

.responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    /* Optional: Removes the iframe border */
}

.text-section {
    background-color: white;
    border: 2px solid red;
    padding: 16px;
    /* Adjust padding as needed */
    margin-bottom: 16px;
    /* Adds space between sections */
}

.empty-box {
    height: 100px;
    /* Ensures visibility */
}