#category-news {
  margin: 2em;
}

#thumbnailImage {
  margin: 1em 0;
}

#thumbnailImage img {
  width: 100%;
  height: 15em;
  object-fit: cover;
  margin-bottom: 1em;
}

#photo-with-title img {
  width: 100%;
  height: 40em;
  object-fit: cover;
  margin-bottom: 1.5em;
  padding-right: 1.5em;
}

.title-on-photo {
  position: absolute;
  top: 50%;
}

.title-on-photo p {
  margin: 0;
}

.activeLatestNews,
.red-background {
  background-color: red;
  color: white;
}

.summarize p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0.5em 0;
}

.news-list {
  padding: 0.5em 1em;
}

@media (max-width: 1300px) {
  #category-news {
    margin: 0 1em;
  }
  .title-on-photo {
    width: 40%;
  }
}

@media (max-width: 1100px) {
  #category-news {
    margin: 0 0.5em;
  }
}

@media (max-width: 1000px) {
  #category-news {
    margin: 0;
  }
}

@media (max-width: 500px) {
  .title-on-photo {
    width: 80%;
  }
}

@media (max-width: 300px) {
  .title-on-photo {
    width: 70%;
  }
}
