.accordion {
  margin: 1.5em auto;
  width: 50%;
}

.accordion-design {
  border-left: 10px solid #D92D27 !important;
  border-radius: 10px !important;
  padding: 0.5em 1.5em !important;
}

.textColor {
  color: #D92D27 !important;
}

@media screen and (max-width: 1300px) {
  .accordion {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .accordion {
    width: 90%;
  }
}
